body {
  font-family: 'Inter', sans-serif;
  background: #f4f6f8;
  margin: 0;
}

header {
  background: #1b5e20;
  padding: 15px 40px;
  color: white;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: white;
}



.billing-container {
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #1b5e20;
  color: white;
  padding: 15px;
}

td {
  padding: 15px;
  text-align: center;
}

.product {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

button {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#checkoutBtn {
  background: #1b5e20;
  color: white;
  padding: 12px 25px;
  float: right;
  margin-top: 20px;
}

a{
  color:#f4f6f8;
}